body{
    background-size:100%;
    background-repeat:no-repeat;
    background-image:url("brother.jpg")

}
.box{

    height:500px;
    width:300px;
    margin:100px auto;
    border:10px dotted black;
    border-radius: 20px;
    background-origin:padding-box;
    background-clip:border-box;

   

}
.box h{
    color:red;
    background-color: cornflowerblue;
    border:2px dotted orangered;
    font-size: large;
}